{% extends 'base.html' %} {% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, atque illo laboriosam tenetur rerum, qui id ipsum suscipit obcaecati possimus magni nemo aspernatur est in nisi dolore sapiente molestias iusto accusamus iste. Consectetur mollitia temporibus voluptatum necessitatibus consequuntur accusamus, eum unde debitis iusto omnis
            vel voluptatibus quasi quaerat cumque sit molestias aliquam labore! Eos maxime eligendi repudiandae assumenda quo quas accusamus impedit, libero ipsa distinctio saepe ratione ut sit velit similique, at adipisci expedita voluptates aut nemo! Earum ullam consequuntur facilis modi, deleniti obcaecati officiis temporibus quidem vel velit
            libero!
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">Signin</a>
            <a class="btn btn-dark" href="/signup">Singup</a>
        </div>
    </section>
</main>
{% endblock %}
